.card__like {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(28, 28, 28, 0);
    background-image: url('../../../images/like.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}

@media screen and (max-width:767px) {
    .card__like {
        width: 6.875vw;
        height: 6.875vw;
        margin-top: 1.5625vw;
        margin-left: 1.5625vw;
    }
}

@media screen and (min-width:768px) {
    .card__like {
        margin-left: 5px;
        width: 22px;
        height: 19px;
        margin-top: -17px;
    }
}