.popup__header {
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width:767px) {
    .popup__header {
        font-size: 5.625vw;
        line-height: 6.875vw;
        text-align: center;
        margin-top: 7.8125vw;
        margin-bottom: 13.4375vw;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .popup__header {
        font-size: 1.876vw;
        line-height: 2.27vw;
        text-align: left;
        margin: 2.67vw 0 1.875vw 2.8125vw;

    }
}

@media screen and (min-width:1280px) {
    .popup__header {
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        margin: 34px 0 24px 36px;
    }
}